#{$BUTTON_PRIMARY} {
    color: #fff;
    background-color: #4262FF;
    border-color: #4262FF; 
    padding: 14px 24px 16px;
    // margin: 10px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer;
}