#{$EDITOR} {
	height: 170px;
	margin-bottom: 30px;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;

	background-color: white;
	border-radius: 4px;
	border: 1px solid #c3c1d0;

	float: left;
	overflow: auto;
}

#{$INPUT} {
	display: inline-block;
	flex: 1 1 auto;
	margin: 3px;
	border: none;
	outline: none;
	line-height: 24px;
}

#{$EMAIL} {
	background-color: $light-blue;
	display: flex;
	padding: 0px 10px;
	margin: 5px 3px;
	border: none;
	border-radius: 12px;
	outline: none;
	line-height: 24px;
}

#{$REMOVER}::after {
	content: $cross;
	font-size: large;
	padding: 0px 5px;
	cursor: pointer;
}

#{$EMAIL_ERROR} {
	text-decoration: underline red;
}