$CONTAINER: ".form-container";
$FORM: ".form";
$FORM_TOP: ".form__top";
$FORM_BOTTOM: ".form__bottom";
$HEADER: ".form__header";
$EDITOR: ".form__editor";
$FOOTER: ".form__footer";

$EMAIL: ".form__editor__email";
$INPUT: ".form__editor__input";

$BUTTON_PRIMARY: ".button_primary";
$BUTTON_SECONDARY: "button_secondary";


